:root {
    --fuente-principal: Quicksand;
  }
  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{
    font-family: var(--fuente-principal);
    font-weight: 700;
    text-align: center;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    color: #000;
    border-color: #191919;
    font-size: var(--fuente-principal);
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.btn-generarQR {
    font-family: var(--fuente-principal);
    font-weight: 600;
    background-color: #0f2f76;
    color: azure;
    border-radius: 10px;
    border-color: #0f2f76;
    border: none;
}

.btn-generarQR:hover{
    background-color: #1441a5;
    border-color: #1441a5;
}

#descargarQR {
    font-family: var(--fuente-principal);
    font-weight: 600;
    background-color: #00ffff;
    color: black;
    border-radius: 10px;
    border-color: #00ffff;
    border: none;
}

#descargarQR:hover{
    background-color: #53ecec;
    border-color: #53ecec;
}

#qrcode {
    margin: 2rem;
}

.botones-container {
    display: flex;
    gap: 1rem;
}

#descargarSVG {
    font-family: var(--fuente-principal);
    font-weight: 600;
    background-color: #ff00ff;
    color: white; 
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#descargarSVG:hover {
    background-color: #d600d6;
    border-color: #d600d6;
}


@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 0;
    }
    


    .botones-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }

    .botones-container button {
        width: 80%;
        margin-bottom: 10px;
    }

    h1 {
        margin-top: 30px;
    }

    #descargarSVG {
        margin-bottom: 60px;
    }
    
}

